.body_animation{
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

.rectangle_1_1 {
    float: left;
    border-radius: 10px;
    margin-left: 30px;
    height: 300px;
    width: 500px;
    margin-top: 100px;
    background-color: #FA9500;
}

.rectangle_1_2 {
    font-family: "Arial Rounded MT Bold", Monospaced;
    border-radius: 10px;
{/*width: max-content;*/}
    {/*height: 300px;*/}
    margin-top: 50px;
    margin-left: 100px;
    background-color: #BABD8E;
    display: inline-block;
}

.rectangle_2_1 {

    float: left;
    border-radius: 10px;
    margin-right: 40px;
    height: 300px;
    width: 500px;
    margin-top: 170px;
    background-color: #BABD8E;
}

.rectangle_2_2 {
    font-family: "Arial Rounded MT Bold", Monospaced;
    border-radius: 10px;
    width: 380px;
    height: 300px;
    margin-left: 100px;
    margin-top: -25px;
    background-color: #FA9500;
}

.skills{
    text-align: left;

    padding-bottom: 200px;
    background-color: #EB6424;
    /*z-index: -1;*/
}

.skills2{
    padding-bottom: 200px;
    background-color: #EB6424;
    /*z-index: -1;*/
}

.footer{
    margin-top:1000px;
    {/*position: absolute;
    bottom: 10px;*/}
}

