.body_animation{
   /* animation: fadeIn 4s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;*/
}

.rectangle_1_1 {
    position: relative;
    float: left;
    border-radius: 10px;
    margin-left: 30px;
    height: 300px;
    width: 460px;
    margin-top: 100px;
    background-color: #9f0b12;
}

.rectangle_1_2 {
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: -0.5vw;
    margin-right: 0.5vw;
    font-family: "Arial Rounded MT Bold", Monospaced;
    border-radius: 10px;
    {/*height: 300px;*/}
    padding: 7px;
    background-color: #EFDECD;

}

.rectangle_2_1 {
    position: relative;
    float: left;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    margin-top: 170px;
    background-color:#EFDECD;
}

.rectangle_2_2 {
    margin: 1vw;
    font-family: "Arial Rounded MT Bold", Monospaced;
    border-radius: 10px;
{/*height: 300px;*/}
    padding: 10vw;
    background-color: #EFDECD;
}

.skills{
    padding-top: 5vw;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 5vw;
    text-align: justify;
    text-justify: inter-word;
    font-family: "Arial Rounded MT Bold", Monospaced;
    background-color: #EFDECD;
    /*z-index: -1;*/
}

.footer{
    margin-top:1000px;
    {/*position: absolute;
    bottom: 10px;*/}
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
}

@media (prefers-reduced-motion: no-preference) {
    .hidden{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.cvButton{
    background-color: #9f0b12;
    border-color: #a23a06;
}

.cvButton:hover{
    background-color: #75060a;
    border-color: #682600;
}

.imageBackLeft{
    opacity: 1;
    margin: 5px;
    padding: 10px;
    display: block;
    /*background-color: #9f0b12;*/
    border-radius: 20px;
    transition: .5s ease;
    backface-visibility: hidden;
    /*box-shadow: -10px 10px #303a52;*/
}
.linkContainer{
    position: relative;
}


.linkContainer:hover .imageBackLeft{
    opacity: 0.3;
}

.linkContainer:hover .imageBackRight{
    opacity: 0.3;
}

.linkContainer:hover .middle {
     opacity: 1;
}
.text {
    background-color: #303a52;
    color: white;
    border-radius: 20px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.imageBackRight{
    opacity: 1;
    margin: 5px;
    padding: 10px;
    display: block;
    /*background-color: #9f0b12;*/
    border-radius: 20px;
    transition: .5s ease;
    backface-visibility: hidden;
    /*box-shadow: -10px 10px #303a52;*/
}