.body_animation{
   /* animation: fadeIn 4s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;*/
}

.aboutBody{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.rectangle_1_1 {
    float: left;
    border-radius: 10px;
    margin-left: 30px;
    height: 300px;
    width: 500px;
    margin-top: 100px;
    background-color: #9f0b12;
}

.rectangle_1_2 {
    font-family: "Arial Rounded MT Bold", Monospaced;
    border-radius: 10px;
{/*width: max-content;*/}
    {/*height: 300px;*/}
    margin-top: 50px;
    margin-left: 100px;
    background-color: #EFDECD;
    display: inline-block;
}

.rectangle_2_1 {

    float: left;
    border-radius: 10px;
    margin-right: 40px;
    height: 300px;
    width: 500px;
    margin-top: 170px;
    background-color:#EFDECD;
}

.rectangle_2_2 {
    font-family: "Arial Rounded MT Bold", Monospaced;
    border-radius: 10px;
    width: 380px;
    height: 300px;
    margin-left: 100px;
    margin-top: -25px;
    background-color:#9f0b12;
}

.skills{
    padding-top: 5vw;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 5vw;
    text-align: justify;
    text-justify: inter-word;
    font-family: "Arial Rounded MT Bold", Monospaced;

    background-color: #EFDECD;
    /*z-index: -1;*/
}

.footer{
    margin-top:1000px;
    {/*position: absolute;
    bottom: 10px;*/}
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
}

@media (prefers-reduced-motion: no-preference) {
    .hidden{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.cvButton{
    background-color: #9f0b12;
    border-color: #a23a06;
}

.cvButton:hover{
    background-color: #75060a;
    border-color: #682600;
}
