.circle {

    height: 970px;
    width: 1050px;
    background-color: #AF4F41;
    border-radius: 50%;
    margin-left: -200px;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}
.form{
    position: absolute;
    top: 450px;
    left: 230px;
}